body,
html {
    height: 100%;
}
.card {
    min-height: 100%;
    position: relative;
}
div.card {
    padding-top: 20px;
    padding-bottom: 70px;
}
.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center;
}
